{% extends "./layouts/app-layout.html" %}
{% block title %} {{ page.title}} {% endblock %}
{% block content %}

<div class="container my-5 w-50">
    <div class="d-flex flex-row justify-content-between align-items-center pb-2 border-bottom border-light">
        <h6 class="fs-4 text-primary my-0">Crear cliente</h6>
        <div>
            <a href="{{url_for('index_customer')}}" class="btn btn-sm btn-outline-secondary"><i
                    class="fas fa-arrow-left me-2"></i>Regresar a la lista</a>
        </div>
    </div>

    <p class="my-0 word-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium adipisci fuga
        animi id temporibus</p>

    <section>
        <form action="{{url_for('store_customer')}}" method="post" class="d-flex flex-column pt-3">
            <div class="w-75 d-flex flex-column">
                <div class="row g-2 align-items-center mb-3">
                    <div class="col-4">
                        <label for="name">Nombres y apellidos</label>
                    </div>
                    <div class="col-8">
                        <input name="name" type="name" class="form-control" id="name"
                            placeholder="Sus nombres y apellidos" required>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-3">
                    <div class="col-4">
                        <label for="email">Correo electrónico</label>
                    </div>
                    <div class="col-8">
                        <input name="email" type="email" class="form-control" id="email"
                            placeholder="Su correo electrónico" required>
                    </div>
                </div>
                <div class="row g-2 align-items-center mb-3">
                    <div class="col-4">
                        <label for="mobile">Teléfono contacto</label>
                    </div>
                    <div class="col-8">
                        <input name="mobile" type="mobile" class="form-control" id="mobile"
                            placeholder="Un número de teléfono de contacto" required>
                    </div>
                </div>
                <div class="mt-4 col-8 align-self-end">
                    <button type="submit" class="btn btn-primary w-100">Registrar</button>
                </div>
            </div>
        </form>
    </section>
</div>

{% endblock %}